## データの永続化：SQLite

## SQLite
軽量データベースを実装するC言語のライブラリ
サーバ用のプロセスを必要としない，組み込み型のデータベースエンジン．
単一のファイルによって管理される（インメモリも可能）

In [40]:
import sqlite3

In [41]:
#DBファイルの保存先パス
path = ''

# Google Colabの場合
# path = '/content/'

#DBファイル
db_name = 'test.db'

#DB接続の確立
#DBファイルが存在しない場合は新規作成される 
conn = sqlite3.connect(path + db_name)

#DBへの接続を閉じる
conn.close()

In [42]:
#DBファイルの保存先パス（相対パスで指定）
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test. db'

#DB接続の確立
#DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

#DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
## car.db
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

### テーブルを作成

In [43]:
path = ''
db_name = 'car.db'

try:
#DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

#SQL （RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

#SQL文の作成（テーブルの作成）
    sql = 'CREATE TABLE IF NOT EXISTS cars (id INT, name TEXT, price REAL);'

#SQLの実行
    cur.execute(sql)

except sqlite3. Error as e:
    print ('エラーが発生しました：', e)
finally:
#DBへの接続を閉じる
    conn.close()

## データをDBに挿入する　（単一レコード）

In [44]:
path = ''
db_name = 'car.db'

try:
#DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

#SQL （RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

#SQL文の作成
#データの挿入
#INSERT INTO テーブル名 (カラム1, カラム2, ...) VALUES (値1, 値2, ...);
#文字列データを挿入する場合は値を''（シングルクォーテーション）で囲む必要がある
    sql = "INSERT INTO cars (id, name, price) VALUES (1, 'Toyota', 20000);"

#SQLの実行
    cur.execute(sql)

#DBに変更を反映
    conn.commit()

except sqlite3. Error as e:
    print ('エラーが発生しました：', e)
finally:
#DBへの接続を閉じる
    conn.close()

## データをDBに挿入する（複数レコード）

In [45]:
path = ''
db_name = 'car.db'

try:
#DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

#SQL （RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

#SQL文の作成
#データの挿入
#INSERT INTO テーブル名 (カラム1, カラム2, ...) VALUES (値1, 値2, ...);
#文字列データを挿入する場合は値を''（シングルクォーテーション）で囲む必要がある
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars= [
        (2, 'ホンダ', 22000) 
        ,(3, 'フォルクスワーゲン', 30000)
        ,(4, 'アウディ', 55000)
        ,(5, 'BMW', 60000)
        ,(6, 'ポルシェ', 150000)
        ]

#SQLの実行
    cur.executemany(sql, cars)

#DBに変更を反映
    conn.commit()

except sqlite3. Error as e:
    print ('エラーが発生しました：', e)
finally:
#DBへの接続を閉じる
    conn.close()

## DB内のデータを参照する

In [46]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # SELECT * FROM テーブル名;
    # * の部分は，取得したい列の名前を，区切りで指定することもできる．
    sql = "SELECT * FROM cars;"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

else:
    for row in cur:
        # 行データ(row)はタプルなので，アンパックして列データを取得
        id, name, price = row
        print(id, name, price)

finally:
    # DBへの接続を閉じる
    conn.close()

2 ホンダ 5000000.0
3 フォルクスワーゲン 30000.0
4 アウディ 55000.0
5 BMW 60000.0
6 ポルシェ 150000.0
2 ホンダ 5000000.0
3 フォルクスワーゲン 30000.0
4 アウディ 55000.0
5 BMW 60000.0
6 ポルシェ 150000.0
2 ホンダ 5000000.0
3 フォルクスワーゲン 30000.0
4 アウディ 55000.0
5 BMW 60000.0
6 ポルシェ 150000.0
2 ホンダ 5000000.0
3 フォルクスワーゲン 30000.0
4 アウディ 55000.0
5 BMW 60000.0
6 ポルシェ 150000.0
1 Toyota 20000.0
2 ホンダ 22000.0
3 フォルクスワーゲン 30000.0
4 アウディ 55000.0
5 BMW 60000.0
6 ポルシェ 150000.0

## データの削除

In [47]:
th = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを削除するSQL
    # DELETE FROM テーブル名 WHERE id = 1;
    sql = "DELETE FROM cars WHERE id = 1;"
    # sql = "DELETE FROM cars WHERE name = '911カレラ';"
    # sql = "DELETE FROM cars WHERE name like '%カレラ';"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

## データの更新

In [48]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを更新するSQL
    # UPDATE テーブル名 SET カラム名=更新値 WHERE 更新したい行を指定する条件;
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    # SQL文の実行
    cur.execute(sql, (5000000, 2))

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()